* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    --font1:'Fredoka One';
}

::selection {
    background-color: #ff987e;
}
/* --------------------Nav Bar Start Here------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px 60px;
}

.nav-items {
    display: flex;
    padding-left: 80px;
    gap: 80px;
    font-size: larger;
}

.nav-item:hover {
    color: #FE5E35;
    cursor: pointer;
}

nav div+img:hover {
    cursor: pointer;
}

/* -----------Nav Bar Ends Here--------------- */

/* ------------------Body Starts Here--------- */

body {
    overflow: hidden;
}

.intro-section {
    display: flex;
    height: 88vh;
    overflow: auto;
}

/* ----------------Body Ends Here--------------- */


/* -----------------Left Section Start Here--------- */
.left-section {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left-section h3 {
    margin-left: -280px;
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: 20px;
}


.left-section h1 {
    font-family: var(--font1);
    font-size: 4rem;
    font-weight: 400;
    margin-top: -80px;
    margin-left: 50px;
}

.sub-headlines {
    margin-top: -40px;
    margin-left: -200px;
}

.sub-headline {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 0px;
    font-size: large;
}

.sub-headline img {
    background-color: #FE5E35;
    border-radius: 50px;
    padding: 4px;
}

.text {
    color: #c0c0c0;
    font-size: small;
    width: 600px;
    margin-top: -50px;
    margin-left: 12px;
}

.action-btns { 
    display: flex;
    gap: 30px;
    margin-top: -50px;
    margin-left: -250px;
}

.action-btn {
    border: none;
    background-color: #FE5E35;
    padding: 14px 35px;
    border-radius: 20px;
    color: #ffffff;
}

.action-btn:hover {
    cursor: pointer;
}

/* ---------------Left Section Ends Here--------------- */

/* ------------------Right Section Start Here--------------------- */

.discount-content+img {
    position: absolute;
    top: 13%;
    left: 58%;
    height: 410px;   
}

.discount {
    position: absolute;
    top: 49%;
    left: 56%;
    z-index: 1;
    height: 122px;
}

.discount-content {
    position: absolute;
    top: 53%;
    left: 58%;
    z-index: 2;
    height: 118px;
    color: #ffffff;
    line-height: 30px;
}

.discount-content h1 {
    font-size: 2.1rem;
}

.discount-content h4 {
    font-size: small;
    text-align: center;
}

.dots{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 80%;
    left: 69%;
}

.dot.yellow-dot {
    background-color: #ffff00;
    height: 25px;
    width: 25px;
    border-radius: 50px;
}

.dot.tomato-dot {
    background-color: #ff6347;
    height: 25px;
    width: 25px;
    border-radius: 50px;
}

.dot.black-dot {
    background-color: #000000;
    height: 25px;
    width: 25px;
    border-radius: 50px;
}

.dots+.action-btn {
    position: absolute;
    top: 87%;
    left: 68%;
}